section
{
   float: left;
	width: 25%;
	margin: 2%;
	margin-top: 13%;
	margin-left: 37.5%;
	margin-right: 37.5%;
}

h2
{
   font-family: Assassin, sans-serif;
	background: #bf161c;
	border-radius: 15px;
	border: 1px #4d0405 solid;
	font-weight: lighter;
	font-size: 30px;
	color: #e6e6e6;
	text-align: center;
	margin-bottom: 8%;
	padding: 1%;
}

form
{
	background: #e8e8e8;
	border-radius: 15px;
	border: 1px #999999 solid;
	font-size: 20px;
	padding-top: 6%;
}

fieldset
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: auto;
	margin-bottom: 1%;
   padding-top: 2%;
}

input
{
   background: #fafafa;
   text-align: center;
	width: 50%;
   font-weight: bold;
   border-radius: 5px;
   border: 1px #bababa solid;
   margin-bottom: 5%;
   padding: 1%;
}

#incorrect
{
   font-size: 17px;
   color: #cd0000;
   margin-left: 20%;
}

#connexion
{
   float: left;
   margin-left: 40%;
}

#image
{
   background: #e8e8e8;
   border: none;
   width: 30%;
}

input:focus
{
   border: 1px #b01218 solid;
}
